{% extends 'base.html' %}

{% block title %}
{% endblock title %}
</title>
{% block content %}
<div>
    <h1>Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in receipts.all %}
                <tr>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
